src/crewrosterlite/data/clients.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="client">
  <xs:complexType>
    <xs:sequence>
      <xs:attribute name="ID" type="xs:string"/>
      <xs:attribute name="name" type="xs:string"/>
      <xs:element name="contact">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ID" type="xs:string"/>
            <xs:element name="firstname" type="xs:string"/>
            <xs:element name="lastname" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema> 
