src/crewrosterlite/data/roster.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="job">
  <xs:complexType>
    <xs:sequence>
      <xs:attribute name="ID" type="xs:string"/>
      <xs:attribute name="clientID" type="xs:string"/>
      <xs:element name="title" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema> 
